Repository googleapis/nodejs-video-transcoder, pull requests merged in 2021-12, with the labels that each got.

#131 fix: add backoff for test retries and get job state queries
  package.json
  samples/test/transcoder.test.js
Labels: cla: yes, api: transcoder

#133 feat: add code sample and test for concatenating two input videos
  README.md
  samples/README.md
  samples/createJobWithConcatenatedInputs.js
  samples/test/transcoder.test.js
  samples/testdata/ForBiggerEscapes.mp4
  samples/testdata/ForBiggerJoyrides.mp4
Labels: cla: yes, samples, api: transcoder

#137 chore: add api_shortname and library_type to repo metadata
  .repo-metadata.json
  README.md
Labels: api: transcoder
